[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book

[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc
[submodule "hugo-theme-relearn"]
	path = hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
